
.idea/Hands-On-Machine-Learning.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.ipynb_checkpoints/Untitled-checkpoint.ipynb
california_housing_price_prediction/.ipynb_checkpoints/Housing-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
california_housing_price_prediction/my_model.pkl
mnist_classification/.ipynb_checkpoints/classification-checkpoint.ipynb
7_ensemble_learning_RF/.ipynb_checkpoints/work-checkpoint.ipynb
6_decision_tree/.ipynb_checkpoints/work-checkpoint.ipynb
