
.idea/Hands-On-Machine-Learning.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.ipynb_checkpoints/Untitled-checkpoint.ipynb
california_housing_price_prediction/.ipynb_checkpoints/Housing-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
california_housing_price_prediction/my_model.pkl
mnist_classification/.ipynb_checkpoints/classification-checkpoint.ipynb
7_ensemble_learning_RF/.ipynb_checkpoints/work-checkpoint.ipynb
6_decision_tree/.ipynb_checkpoints/work-checkpoint.ipynb
8_dimensionality_reduction/.ipynb_checkpoints/work-checkpoint.ipynb
3_classification/.ipynb_checkpoints/classification-checkpoint.ipynb
2_end_to_end_ml_project/.ipynb_checkpoints/Housing-checkpoint.ipynb
8_dimensionality_reduction/my_mnist.data
time_series_forecasting/.ipynb_checkpoints/time_series_summary-checkpoint.ipynb
time_series_forecasting/.ipynb_checkpoints/time_series_basics-checkpoint.ipynb
time_series_forecasting/.ipynb_checkpoints/time_series_sample1-checkpoint.ipynb
external_topics/time_series_forecasting/.ipynb_checkpoints/time_series_basics-checkpoint.ipynb
external_topics/time_series_forecasting/.ipynb_checkpoints/time_series_sample1-checkpoint.ipynb
external_topics/web_scraping/.ipynb_checkpoints/practice_beutifulSoup-checkpoint.ipynb
external_topics/web_scraping/.ipynb_checkpoints/practice_requests-checkpoint.ipynb
